.App {
  text-align: center;
  background-image: url("space.jpg");
}
.header {
  padding-top: 1.5ch;
  font-size: 50px;
  color: white;
}
#mapid {
  height: 180px;
  position: fixed;
  right: 0px;
}

.leaflet-container {
  height: 500px;
  width: 500px;
}

.card {
  color: white;
  border-style: groove;
  font-size: large;
}

.button {
  background-color: white;
  font-size: 20px;
  color: black;
  padding: 3px;
}
